mixin ui-choose(id, text, img, mods)
  -
    const baseName = 'ui-choose'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if img
    .ui-choose.ui-choose--img(class=allMods)
      input(id=id)&attributes(attributes)
      label(for=id)
        .ui-choose__img: img(src=img alt='')
        | !{text}
        block
  else
    .ui-choose(class=allMods)
      input(id=id)&attributes(attributes)
      label(for=id) !{text}
        block
