mixin popup(mods)
  -
    const baseName = 'popup'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup(class=allMods)&attributes(attributes)
    .popup__container
      button.popup__close-btn
      block

mixin popup-form(title, subtitle, img, mods)
  -
    const baseName = 'popup-form'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup-form(class=allMods)&attributes(attributes)
    .popup-form__title !{title}
    .popup-form__subtitle !{subtitle}
    block
    .popup-form__img: img(src=img alt='')
